<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
	</appender>


	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> -->
	<!-- <file>/log/mylogfile.log</file> -->
	<!-- <append>true</append> -->
	<!-- <encoder> -->
	<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
	<!-- </encoder> -->
	<!-- </appender> -->
	
<!--   	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<File>c:/tmp/rest-demo.log</File> -->
<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 		    daily rollover -->
<!-- 			<FileNamePattern>rest-demo.%d{yyyy-MM-dd}.log</FileNamePattern> -->

			<!-- keep 30 days' worth of history --> 
<!-- 			<maxHistory>30</maxHistory>			 -->
<!-- 		</rollingPolicy> -->

<!-- 		<encoder> -->
<!-- 			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern> -->
<!-- 		</encoder> 	     -->
<!--   	</appender> -->

<!-- 	<logger name="com.clarkparsia.empire.annotation.RdfGenerator" level="DEBUG" /> -->

	<logger name="ru.mipt.pim" level="TRACE" />

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>